.footer_container {
  margin-top: auto;
}

.footer_container .footer_top_row {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: start;
   padding: 90px 90px 60px;
}
.footer_container .footer_top_row .main_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_container .footer_top_row .main_content  .main_text {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.footer_container .footer_top_row .main_content .secondary_cta img{
  margin-left: 2px;
}

.footer_container .footer_top_row .testimonials{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 62px;
}


.footer_container .footer_middle_row {
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  gap: 20px;
  flex-wrap: wrap;
}
.footer_container .footer_middle_row .footer_block.footer_logo_container {
  width: 20%;
}
.footer_container .footer_middle_row .footer_block .footer_logo {
margin-bottom: 25px;
}
.footer_container .footer_middle_row .footer_block .footer_logo_text {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: var(--secondary-text-color);
}
.footer_container .footer_middle_row .footer_block .footer_title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: var(--secondary-color);
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

  .footer_container .footer_middle_row .footer_block .footer_list {
display: inline-block;
  }
  .footer_container .footer_middle_row .footer_block .footer_list .footer_item{
margin-bottom: 10px;
}

  .footer_container .footer_middle_row .footer_block .footer_list .footer_item:last-child{
    margin-bottom: 0;
  }
.footer_container .footer_middle_row .footer_block .footer_text {
  font-size: 19px;
  line-height: 30px;
  color: var(--secondary-text-color);
  transition: 0.3s ease-in-out;
}


.footer_container .footer_middle_row .footer_block .footer_text:hover{
  color: var(--secondary-color);  
}

.footer_container .footer_middle_row .footer_block .foot_email{
  border-bottom:1px solid var(--secondary-text-color) ;
}
.footer_container .footer_middle_row .footer_block .foot_email:hover{
   color: var(--secondary-text-color);
}
.footer_container .footer_middle_row .footer_block .foot_phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color:var(--secondary-color);
  padding-top: 20px;
}
.footer_container .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 60px 100px 40px;
}
.footer_container .footer_bottom .social_icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.footer_container .footer_bottom .social_icons .social_item {
  border: 1.25px solid var(--text-color);
  border-radius: 50px;
  width: 50px;
  height: 50px;
      display: flex
;
    align-items: center;
    justify-content: center;
}
.footer_container .footer_bottom .copy_right .primary_text {
  color: var(text-color);
  line-height: 21px;
}

.footer_logo_container_mobile{
  display: none;
}
@media screen and (max-width: 1600px){
  .footer_container .footer_top_row .main_content  .main_text {
  font-size: 42px;
  line-height: 56px;
}
.footer_container .footer_top_row .testimonials{
  gap: 42px;
}
}
@media screen and (max-width: 1480px) {
  .footer_container .footer_middle_row {
    padding: 60px;
  }
  .footer_container .footer_top_row .testimonials{
    gap: 38px;
  }
  .footer_container .footer_bottom {
    padding: 60px 50px 40px;
  }
  .footer_container .footer_bottom .social_icons {
    gap: 20px;
  }
  .footer_container .footer_bottom .social_icons .social_item {
    padding: 12px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }
    
    
.footer_container .footer_top_row
{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
  .footer_container .footer_top_row .main_content .main_text {
    font-size: 38px;
    line-height: 56px;
    margin-bottom: 15px;
}
.footer_container .footer_top_row .main_content{
  align-items: center;
}
}

@media screen and (max-width: 1280px) {
  .footer_container .footer_middle_row {
    padding: 40px 20px;
  }
  .footer_container .footer_bottom {
    padding: 50px 40px 30px;
  }
  .footer_container .footer_bottom .copy_right .primary_text {
    font-size: 15px;
  }
  .footer_container .footer_bottom .social_icons {
    gap: 15px;
  }
  .footer_container .footer_bottom .social_icons .social_item {
    padding: 8px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
  }
    .footer_container .footer_top_row .main_content .main_text {
    font-size: 32px;
    line-height: 54px;
}
}

@media screen and (max-width: 1080px) {
  .footer_container .footer_middle_row {
    flex-direction: column;
    padding: 30px;
    gap: 10px;
  }
  .footer_container .footer_middle_row .footer_block.footer_logo_container{
    width: 100%;
  }
  .footer_container .footer_middle_row .footer_block .footer_title {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 15px;
    gap: 10px;
    background-image: url(../../images/plus.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 98% center;
  }
  .footer_container .footer_middle_row .footer_block .footer_title.active {
    background-image: url(../../images/minus.png);
  }
  .footer_container .footer_middle_row .footer_block .footer_list {
    display: none;
  }
.footer_container .footer_middle_row .footer_block .footer_logo{
  margin-bottom: 20px;
}


  .footer_container .footer_top_row {
    padding: 70px 70px 40px;
  }
  .footer_container .footer_top_row .top_cnt .main_text {
    font-size: 28px;
    line-height: 42px;
  }
  .footer_container .footer_top_row .top_cnt .sub_text {
    font-size: 16px;
    line-height: 24px;
    padding-block: 15px 30px;
    max-width: 600px;
  }
  .footer_container .footer_bottom {
    flex-direction: column;
    padding: 30px 30px 20px;
    gap: 20px;
    text-align: center;
  }
  .footer_container .footer_bottom .social_icons .social_item {
    padding: 10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }
  .footer_container .footer_bottom .copy_right .primary_text {
    line-height: 18px;
    font-size: 14px;
  }
      .footer_container .footer_top_row .main_content .main_text {
    font-size: 26px;
    line-height: 38px;
}
}

@media screen and (max-width: 767px) {
  .footer_container .footer_middle_row {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }
  .footer_container .footer_middle_row .footer_block.footer_logo_container{
    display: none;
  }
  .footer_logo_container_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

  .footer_container .footer_middle_row .footer_block .footer_title {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
    gap: 10px;
    background-image: url(../../images/plus.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 98% center;
  }
  .footer_container .footer_middle_row .footer_block .footer_title.active {
    background-image: url(../../images/minus.png);
  }
  .footer_container .footer_middle_row .footer_block .footer_text {
    font-size: 16px;
    line-height: 28px;
  }
    .footer_container .footer_middle_row .footer_block .foot_phone {
    font-size: 17px;
    line-height: 28px;
  }
  .footer_container .footer_middle_row .footer_block .footer_list {
    display: none;
  }

        .footer_container .footer_top_row .testimonials
 {
        gap: 15px;
    }

  .footer_container .footer_top_row {
    padding: 30px 30px 20px;
  }

  .footer_container .footer_top_row .top_cnt .sub_text {
    font-size: 14px;
    line-height: 20px;
    padding-block: 10px 20px;
  }
  .footer_container .footer_bottom {
    flex-direction: column;
    padding: 30px 30px 20px;
    gap: 20px;
    text-align: center;
  }
  .footer_container .footer_bottom .social_icons .social_item {
    padding: 10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }
  .footer_container .footer_bottom .copy_right .primary_text {
    line-height: 18px;
    font-size: 14px;
  }
      .footer_container .footer_top_row .main_content .main_text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}
}
