/* Banner Section */
.listing_banner{
    min-height: 578px;
    width: 100%;
    background-image: linear-gradient(to right, #042E27,#150018);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing_banner .banner_block{
    max-width: 930px;
}
.listing_banner .content{
    margin-top: 20px;
}

.listing_banner .content .banner_title{
    font-size: 60px;
    line-height: 76px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.listing_banner .content .banner_text{
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    max-width: 857px;
    margin-top: 14px;
}


/* Best Seller Modules */
.best_seller_modules{
    background-color: #F9F9F9;
}



/* All Modules Section */
.all_modules_section .sec_top_row .sorting{
    display: flex;
    gap: 14px;
    align-items: center;
}
.all_modules_section .section_padding{
    padding-block: 50px;
}
.all_modules_section .sec_top_row .sorting button{
    font-weight: 500;
}

.categories-wrapper {
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: 35px 0px 60px 0px;
}

.categories-swiper {
  overflow: hidden;
}

.categories .category {
  width: auto; /* important for auto width */
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
  padding: 10px 0;
  position: relative;
}

.category strong {
  font-weight: 600;
  margin-right: 5px;
  color: var(--text-color);
}

.category span {
  font-size: 12px;
  color: var(--secondary-text-color);
}

.category.active strong {
  color: var(--primary-color);
}

.category.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--primary-color);
}

/* Hide arrows initially when not needed */
.swiper-button-prev,
.swiper-button-next {
  color: black;
}





/* Content Section  */
.product_listing_content_section .para{
    padding-right: 40px;    
}

.product_listing_content_section .para{ 
line-height: 36px;
}

@media screen and (max-width:1200px) {
    /* Banner */
    .listing_banner{
        min-height: 560px;
    }
    .listing_banner .content{
        margin-top: 15px;
    }
    .listing_banner .content .banner_title{
        font-size: 54px;
        line-height: 72px;
    }
    .listing_banner .content .banner_text {
        max-width: 780px;
        margin-top: 10px;
        font-size: 18px;
    line-height: 30px;
    }


    
}


@media screen and (max-width: 992px) {
        /* Banner */
    .listing_banner{
        min-height: 540px;
    }
    .listing_banner .content{
        margin-top: 12px;
    }
    .listing_banner .content .banner_title{
        font-size: 46px;
        line-height: 58px;
    }
    .listing_banner .content .banner_text {
        max-width: 760px;
        margin-top: 8px;
        font-size: 17px;
    line-height: 28px;
    }

}

@media screen and (max-width: 767px) {
        /* Banner */
    .listing_banner{
        min-height: 520px;
    }
    .listing_banner .content{
        margin-top: 10px;
    }
    .listing_banner .content .banner_title{
        font-size: 34px;
        line-height: 52px;
    }
    .listing_banner .content .banner_text {
        max-width: 520px;
        margin-top: 7px;
        font-size: 15px;
    line-height: 26px;
    }


}

@media screen and (max-width: 576px) {
        /* Banner */
    .listing_banner{
        min-height: 340px;
    }
    .listing_banner .banner_block{
        margin-top: 30px;
    }
    .listing_banner .content{
        margin-top: 5px;
    }
    .listing_banner .content .banner_title{
        font-size: 22px;
        line-height: 34px;
    }
    .listing_banner .content .banner_text {
        display: none;
        max-width: 400px;
        margin-top: 7px;
        font-size: 16px;
    line-height: 22px;
    }


}