/* Header */
.header_container.in_product_page{
  position: static;
  background-color: #1D1D1B;
  padding-bottom: 26px;
}

/* Bread Crumb Section */
.bread_crumb_section {
    padding: 30px 0px 12px;
}
.bread_crumb_section .breadcrumb .breadcrumb__list {
    display: flex;
    align-items: center;
    gap: 14px;
}

.column_info  .product_description .product_actions{
    display: flex;
    align-items: center;
    gap: 32px;
}
.column_info  .product_description  .product_actions .product_action__link{
    display: flex;
    align-items: center;
    gap: 10px;
}
.column_info .product_description  .product_actions .product_action__link span{
    text-decoration: underline;
    color: #6A6A6A;
}

.column_info .product_meta{
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 15px;
    margin-top: 25px;
 overflow: hidden;
    margin-bottom: 10px;
    overflow: hidden;
   
}
.column_info .product_meta .inner{
  display: flex;
  gap: 15px;
  overflow-x: auto; 
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none; 
}
.column_info .product_meta > div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    padding-right: 10px;
}

.column_info .product_meta .line{
    color: #DDDDDD;
}
.column_info .product_meta  .total_reviews{
    color: #242222;
    font-size: 16px;
}
.column_info .product_meta .add_review{
    text-decoration: underline;
}
.column_info .product_meta .downloads{
    color: rgba(66, 66, 66, 0.8);
}
.column_info .product_meta .downloads span{
    color: #000;
}
.column_info .product_meta .verified{
    color: rgba(66, 66, 66, 0.8);
}

.product_detail .content-wrapper { display: flex; justify-content: space-between; align-items: flex-start; gap: 46px; 
    margin-block:35px 70px;

}

.product_detail .content-wrapper .prouct_data { width: calc(100% - 400px); display: flex; gap: 46px; }
.product_detail .content-wrapper .column_image { width: 445px }
.product_detail .content-wrapper .column_image .product-gallery { display: flex; flex-direction: column; gap: 15px; border: 1px solid rgba(0, 0, 0, 12%); padding: 15px; box-sizing: border-box; border-radius: 15px; box-shadow: 0px 17.7px 37.7px 0 rgba(0, 0, 0, 0.08); }
.product_detail .content-wrapper .column_image .product-gallery .main_slider img { border-radius: 10px; width: 100%;}
.product_detail .content-wrapper .column_image .product-gallery .thumbnails_slider { width: 100%; padding-left: 0; }
.product_detail .content-wrapper .column_image .product-gallery .thumb-item { padding-right: 10px; }
.product_detail .content-wrapper .column_image .product-gallery .thumb-item:last-child { padding-right: 0; }
.product_detail .content-wrapper .column_image .product-gallery .thumb-item img { border-radius: 10px; }
.product_detail .content-wrapper .column_image .action-buttons { display: flex; gap: 10px; padding-top: 25px; box-sizing: border-box; }
.product_detail .content-wrapper .column_image .action-buttons .action-btn { width: 100%; justify-content: center;}
.product_detail .content-wrapper .column_image .action-buttons .action-btn.user_guide {
    border-color: #868686;
    color: #868686;
}
.product_detail .content-wrapper .column_image .certificate { text-align: center; padding-top: 35px; }


.product_detail .content-wrapper .column_info { width: calc(100% - 445px) }
.product_detail .content-wrapper .column_info .image_with_title { display: flex; align-items: flex-start; gap: 20px; padding-bottom: 17px; }
.product_detail .content-wrapper .column_info .product-title { font-size: 26px; line-height: 38px; color: #232323; }
.product_detail .content-wrapper .column_info .product_description { display: flex; flex-direction: column; gap: 30px; padding-top: 20px; }
.product_detail .content-wrapper .column_info .description { color: #41443F; }
.product_detail .content-wrapper .column_info .features-section .features-heading { font-size: 19px; line-height: 34px; padding-bottom: 20px; }
.product_detail .content-wrapper .column_info .features-section .feature-item { display: flex; align-items: center; gap: 20px; font-size: 16px; line-height: 34px; padding-bottom: 10px; box-sizing: border-box;  color: #2E2B2B;}
.product_detail .content-wrapper .column_info .features-section .feature-icon { background-color: #F5F5F5; display: flex; width: 35px; height: 35px; text-align: center; padding: 8px; border-radius: 50px; }
.product_detail .content-wrapper .column_info .support-features { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 15px; }
.product_detail .content-wrapper .column_info .support-features .support-item { font-size: 16px; line-height: 24px; text-align: center; flex: 1; background-color: #fafafa; border: 1px dashed rgba(0, 0, 0, 24%); border-radius: 3px; padding: 15px; box-sizing: border-box; display: flex; flex-direction: column; align-items: center; gap: 10px; }


.product_detail .content-wrapper .column_price { width: 360px; }
.product_detail .content-wrapper .column_price .pricing-card { border-radius: 12px; margin-bottom: 15px; border: 1px solid rgba(0, 0, 0, 11%); text-align: center; }
.product_detail .content-wrapper .column_price .pricing-card .buy-now { cursor: pointer; width: 100%; background-color: #000; border-radius: 12px 12px 0 0; border: none; padding: 12px; font-size: 26px; line-height: 49px; color: #fff; font-weight: 600; }
.product_detail .content-wrapper .column_price .pricing-card .price { padding: 30px 30px 40px 30px; }
.product_detail .content-wrapper .column_price .pricing-card .price .original-price { font-size: 22px; font-weight: 500; line-height: 22px; color: rgba(0, 0, 0, 50%); text-decoration: line-through; padding-right: 13px; box-sizing: border-box; }
.product_detail .content-wrapper .column_price .pricing-card .price .current-price { font-size: 40px; font-weight: 600; line-height: 40px; color: #030303; }
.product_detail .content-wrapper .column_price .pricing-card .domain-section { display: flex; justify-content: space-between; align-items: center; font-size: 14px; font-weight: 500; padding: 0 30px 30px 30px; line-height: 24px; color: #6a6a6a; }
.product_detail .content-wrapper .column_price .pricing-card .domain-section .counter-btn { width: 26px; height: 26px; border: 0; background: #E1EFDF; cursor: pointer; border-radius: 3px; }
.product_detail .content-wrapper .column_price .pricing-card .domain-section .counter { font-size: 18px; line-height: 26px; font-weight: 600; padding: 0 20px; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section { display: flex; justify-content: space-between; align-items: center; padding: 0 30px 30px; font-size: 14px; line-height: 24px; color: #6a6a6a; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .checkbox-wrapper { display: flex; align-items: center; margin: 10px 0; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .custom-checkbox { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .checkbox-label { position: relative; padding-left: 35px; cursor: pointer; font-size: 16px; font-weight: 500; color: #1c1a1a; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .checkbox-label:before { content: ''; position: absolute; left: 0; width: 26px; height: 26px; border: 1px solid #d3d3d3; background-color: white; border-radius: 4px; transition: all 0.2s ease; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .checkbox-label:after { content: ''; position: absolute; left: 7px; top: 3px; width: 6px; height: 12px; border: solid white; border-width: 0 2px 2px 0; transform: rotate(45deg); display: none; transition: all 0.2s ease; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .custom-checkbox:checked + .checkbox-label:before { background-color: #4CAF50; border-color: #4CAF50; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .custom-checkbox:checked + .checkbox-label:after { display: block; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .checkbox-label:hover:before { border-color: #4CAF50; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .custom-checkbox:focus + .checkbox-label:before { box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2); }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .custom-checkbox:disabled + .checkbox-label { color: #999; cursor: not-allowed; }
.product_detail .content-wrapper .column_price .pricing-card .setup-section .custom-checkbox:disabled + .checkbox-label:before { border-color: #ddd; background-color: #f5f5f5; }
.product_detail .content-wrapper .column_price .request-btn { padding: 0 30px 30px }
.product_detail .content-wrapper .column_price .request-btn .primary_cta { width: 100%; justify-content: center; color: #868686; border: 1px solid #868686; }


.product_detail .content-wrapper .column_price .version-card { margin-bottom: 15px; border-radius: 12px; border: 1px solid rgba(0,0,0,11%); padding: 25px; text-align: center; color: #2E2B2B; }
.product_detail .content-wrapper .column_price .title { font-size: 20px; font-weight: 600; line-height: 20px; color: #2E2B2B; padding-bottom: 30px; }
.product_detail .content-wrapper .column_price .version-card .version-detail { display: flex; justify-content: space-between; align-items: start; gap: 30px; padding-bottom: 25px; }
.product_detail .content-wrapper .column_price .version-card .version-detail:last-child { padding-bottom: 0; }
.product_detail .content-wrapper .column_price .version-card .heading { font-size: 14px; line-height: 14px; font-weight: 500; color: #6A6A6A; }
.product_detail .content-wrapper .column_price .version-card .version-number { display: flex; align-items: flex-end; flex-direction: column; gap: 5px; font-size: 16px; font-weight: 500; line-height: 16px; }
.product_detail .content-wrapper .column_price .version-card .change-log { color: #4AA00E; font-size: 14px; line-height: 14px; }
.product_detail .content-wrapper .column_price .version-card .compatibility { font-size: 16px; line-height: 24px; font-weight: 500; text-align: right; }
.product_detail .content-wrapper .column_price .version-card .date-info { font-size: 16px; line-height: 16px; font-weight: 500; }


@media (min-width: 1281px) and (max-width: 1480px) {
    .product_detail .content-wrapper { gap: 40px; }

    .product_detail .content-wrapper .column_image { width: 400px; }
    .product_detail .content-wrapper .prouct_data { width: calc(100% - 360px);  gap: 35px; }

    .product_detail .content-wrapper .column_info { width: calc(100% - 400px); }
    .product_detail .content-wrapper .column_info .product-title { font-size: 22px; line-height: 32px; }
    .product_detail .content-wrapper .column_info .product_rating { gap: 13px; font-size: 15px; line-height: 24px; }
    .product_detail .content-wrapper .column_info .product_description { gap: 25px; }
    .product_detail .content-wrapper .column_info .features-section .features-heading { font-size: 18px; line-height: 32px; }
    .product_detail .content-wrapper .column_info .features-section .feature-item { gap: 17px; font-size: 15px; line-height: 30px; }
    
    .product_detail .content-wrapper .column_price { width: 320px; }

    .product_detail .content-wrapper .column_price .pricing-card .buy-now { font-size: 22px; line-height: 40px; }
    .product_detail .content-wrapper .column_price .pricing-card .price { padding: 25px 25px 30px 25px; }
    .product_detail .content-wrapper .column_price .pricing-card .price .current-price { font-size: 34px; line-height: 34px; }
    .product_detail .content-wrapper .column_price .pricing-card .domain-section { padding: 0 25px 25px 25px; }
    .product_detail .content-wrapper .column_price .pricing-card .domain-section .counter { font-size: 17px; padding: 0 15px; }
    .product_detail .content-wrapper .column_price .pricing-card .setup-section { padding: 0 25px 25px; }

    /* Features Header */
    .product_detail .features_header .header { padding: 12px 70px; }

    /* Features */
    .product_detail .features .heading { padding-bottom: 40px; }
    .product_detail .features .features_grid { grid-gap: 18px 23px; }
    .product_detail .features .feature_card { padding: 28px; gap: 20px; }
    .product_detail .features .feature_title { font-size: 21px; line-height: 29px; }
    .product_detail .features .feature_description { font-size: 16px; line-height: 28px; }

    /* Image with Text */
    .product_detail .features_detail { gap: 70px; }
    .product_detail .features_detail .feature-list { padding: 25px 0 60px; }

    /* Features */
    .product_detail .services .heading { padding-bottom: 40px; }
    .product_detail .services .services_grid { grid-gap: 18px 23px; }
    .product_detail .services .service_card { padding: 28px; gap: 20px; }
    .product_detail .services .service_title { font-size: 21px; line-height: 29px; }
    .product_detail .services .service_description { font-size: 16px; line-height: 28px; }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .product_detail .content-wrapper { flex-wrap: wrap; }

    .product_detail .content-wrapper .prouct_data { width: 100%; }
    .product_detail .content-wrapper .column_image, .product_detail .content-wrapper .column_info { flex: 0.5; }

    .product_detail .content-wrapper .column_image .product-gallery .thumbnails_slider { display: none; }

    .product_detail .content-wrapper .column_info .image_with_title { gap: 15px; }
    .product_detail .content-wrapper .column_info .product-title { font-size: 18px; line-height: 30px; }
    .product_detail .content-wrapper .column_info .support-features .support-item { font-size: 15px; line-height: 22px; padding: 15px; }

    .product_detail .content-wrapper .column_price { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 25px; width: 100%;}
    .product_detail .content-wrapper .column_price .pricing-card .buy-now { font-size: 20px; line-height: 40px; }
    .product_detail .content-wrapper .column_price .pricing-card .price { padding: 20px 20px 30px; }
    .product_detail .content-wrapper .column_price .pricing-card .domain-section { padding: 0 20px 20px; }
    .product_detail .content-wrapper .column_price .pricing-card .setup-section { padding: 0 20px 20px; }
    .product_detail .content-wrapper .column_price .pricing-card .price .original-price { font-size: 20px; line-height: 20px; }
    .product_detail .content-wrapper .column_price .pricing-card .price .current-price { font-size: 28px; line-height: 28px; }
    .product_detail .content-wrapper .column_price .version-card .version-number { font-size: 15px; line-height: 15px; }
    .product_detail .content-wrapper .column_price .version-card .compatibility { font-size: 15px; }
    .product_detail .content-wrapper .column_price .version-card .date-info { font-size: 15px; line-height: 15px; }


    /* Feeatures Header */
    .product_detail .features_header .header { padding: 12px 50px; }
    .product_detail .features_header .navigation { gap: 30px; }
    .product_detail .features_header .navigation .nav-menu { gap: 20px; }
    .product_detail .features_header .navigation .nav-buttons { gap: 15px; }
    .product_detail .features_header .navigation .nav-buttons a { padding: 13px 25px; font-size: 16px; line-height: 16px; }


    /* Features */
    .product_detail .features .heading { padding-bottom: 35px; }
    .product_detail .features .features_grid { gap: 15px 20px; }
    .product_detail .features .feature_card { padding: 22px; gap: 17px; }
    .product_detail .features .feature_title { font-size: 18px; line-height: 26px; }
    .product_detail .features .feature_description { font-size: 15px; line-height: 26px; }


    /* Image with Text */
    .product_detail .features_detail { gap: 50px; }
    .product_detail .features_detail .heading { padding-bottom: 15px; }
    .product_detail .features_detail .feature-list { padding: 20px 0 50px; }
    .product_detail .features_detail .feature-item { line-height: 26px; }
    .product_detail .features_detail .guidelines_button { line-height: 23px; }


    /* Features */
    .product_detail .services .heading { padding-bottom: 35px; }
    .product_detail .services .services_grid { gap: 15px 20px; }
    .product_detail .services .service_card { padding: 22px; gap: 17px; }
    .product_detail .services .service_title { font-size: 18px; line-height: 26px; }
    .product_detail .services .service_description { font-size: 15px; line-height: 26px; }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product_detail .content-wrapper { flex-direction: column; gap: 30px; }
    .product_detail .content-wrapper .prouct_data { width: 100%; gap: 30px; }
    .product_detail .content-wrapper .column_image { width: 50%; }
    .product_detail .content-wrapper .column_info { width: 50%; }
    .product_detail .content-wrapper .column_info .image_with_title { gap: 12px; padding-bottom: 12px; }
    .product_detail .content-wrapper .column_info .product-title { font-size: 16px; line-height: 24px; }
    .product_detail .content-wrapper .column_price { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; width: 100%; }
    .product_detail .content-wrapper .column_info .product_rating { gap: 12px; padding-bottom: 12px; font-size: 14px; line-height: 22px; }
    .product_detail .content-wrapper .column_info .product_description { gap: 15px; padding-top: 15px;  }


    /* Features Header */
    .product_detail .features_header .header { padding: 12px 35px; }
    .product_detail .features_header .navigation { gap: 20px; flex-direction: column; align-items: flex-end; }
    .product_detail .features_header .navigation .nav-menu { gap: 15px; }
    .product_detail .features_header .navigation .nav-buttons { gap: 15px; }
    .product_detail .features_header .navigation .nav-buttons a { padding: 12px 20px; font-size: 16px; line-height: 16px; }


    /* Features */
    .product_detail .features .heading { padding-bottom: 30px; }
    .product_detail .features .features_grid { grid-gap: 15px; }
    .product_detail .features .feature_card { padding: 20px; gap: 15px; }
    .product_detail .features .feature_title { font-size: 18px; line-height: 26px; }

    /* Image with Text */
    .product_detail .features_detail { gap: 40px; }
    .product_detail .features_detail .heading { padding-bottom: 15px; }
    .product_detail .features_detail .feature-list { padding: 20px 0 40px; }
    .product_detail .features_detail .feature-item { line-height: 24px; }
    .product_detail .features_detail .guidelines_button { line-height: 20px; }


    /* Services */
    .product_detail .services .heading { padding-bottom: 30px; }
    .product_detail .services .services_grid { grid-gap: 15px; }
    .product_detail .services .service_card { padding: 20px; gap: 15px; }
    .product_detail .services .service_title { font-size: 18px; line-height: 26px; }


    /* Review Section */
    .product_detail .product_review_section .review_descripion { max-width: 450px; }
    .product_detail .product_review_section .load_more { margin-top: 20px; }
}

@media screen and (max-width: 767px) {
    .product_detail .content-wrapper { flex-direction: column; gap: 15px; }
    .product_detail .content-wrapper .prouct_data { flex-direction: column; width: 100%; }
    .product_detail .content-wrapper .column_image, .product_detail .content-wrapper .column_info { width: 100%; }
    .product_detail .content-wrapper .column_image .action-buttons .action-btn { font-size: 16px; line-height: 30px; }
    .product_detail .content-wrapper .column_image .certificate { padding-top: 20px; }
    .product_detail .content-wrapper .column_info .product-title { font-size: 19px; line-height: 30px; margin-bottom: 12px; }
    .product_detail .content-wrapper .column_info .product_rating { font-size: 14px; line-height: 22px; }
    .product_detail .content-wrapper .column_info .product_description { gap: 20px; }
    .product_detail .content-wrapper .column_info .support-features { gap: 10px; }
    .product_detail .content-wrapper .column_info .support-features .support-item { font-size: 14px; line-height: 22px; padding: 12px; }
    .product_detail .content-wrapper .column_price { width: 100%; }
    .product_detail .content-wrapper .column_price .pricing-card .buy-now { padding: 10px; font-size: 18px; line-height: 30px; }
    .product_detail .content-wrapper .column_price .pricing-card .price { padding: 15px; }
    .product_detail .content-wrapper .column_price .pricing-card .price .original-price { font-size: 15px; line-height: 15px; padding-right: 8px; }
    .product_detail .content-wrapper .column_price .pricing-card .price .current-price { font-size: 22px; line-height: 22px; }
    .product_detail .content-wrapper .column_price .pricing-card .domain-section, .product_detail .content-wrapper .column_price .pricing-card .setup-section, .product_detail .content-wrapper .column_price .request-btn { padding: 0 15px 15px; }
    .product_detail .content-wrapper .column_price .version-card { padding: 15px; }
    .product_detail .content-wrapper .column_price .title { font-size: 16px; line-height: 16px; padding-bottom: 20px; }
    .product_detail .content-wrapper .column_price .version-card .version-detail { padding-bottom: 15px; }
    .product_detail .content-wrapper .column_price .version-card .version-number { font-size: 14px; line-height: 14px; }
    .product_detail .content-wrapper .column_price .version-card .compatibility { font-size: 14px; line-height: 20px; }
    .product_detail .content-wrapper .column_price .version-card .date-info { font-size: 14px; line-height: 14px; }
    .product_detail .content-wrapper .column_price .faq_box { padding: 15px; }
    .product_detail .content-wrapper .column_price .text { font-size: 14px; line-height: 22px; padding-bottom: 20px; }
    .product_detail .content-wrapper .column_price .request-btn .primary_cta { width: 100%; padding: 10px; }



    /* Features Header */
    .product_detail .features_header .header { padding: 20px; flex-direction: column; }
    .product_detail .features_header .navigation { gap: 15px; flex-direction: column;  padding-top: 10px; }
    .product_detail .features_header .navigation .nav-menu { gap: 15px; flex-wrap: wrap; justify-content: center; }
    .product_detail .features_header .navigation .nav-link { font-size: 15px; line-height: 24px; }
    .product_detail .features_header .navigation .nav-buttons a { padding: 10px 20px; font-size: 15px; line-height: 15px; }


    /* Features */
    .product_detail .features .heading { padding-bottom: 20px; }
    .product_detail .features .features_grid { grid-gap: 10px; }
    .product_detail .features .feature_card { padding: 15px; gap: 15px; }
    .product_detail .features .feature_title { font-size: 16px; line-height: 24px; }
    .product_detail .features .feature_description { font-size: 14px; line-height: 24px; }


    /* Image with Text */
    .product_detail .features_detail { gap: 20px; flex-direction: column; }
    .product_detail .features_detail .image-section, .product_detail .features_detail .content-section { width: 100%; }
    .product_detail .features_detail .heading { padding-bottom: 15px; }
    .product_detail .features_detail .feature-list { padding: 15px 0 30px; }
    .product_detail .features_detail .feature-item { line-height: 22px; }
    .product_detail .features_detail .feature-item { line-height: 22px; }


    /* Services */
    .product_detail .services .heading { padding-bottom: 20px; }
    .product_detail .services .services_grid { grid-gap: 10px; }
    .product_detail .services .service_card { padding: 15px; gap: 15px; }
    .product_detail .services .service_title { font-size: 16px; line-height: 24px; }
    .product_detail .services .service_description { font-size: 14px; line-height: 24px; }



    /* Review Section */
    .product_detail .product_review_section .header { flex-direction: column; align-items: flex-start; margin-bottom: 20px;}
    .product_detail .product_review_section .review_btn { font-size: 16px; line-height: 30px; }
    .product_detail .product_review_section .ratings_overview { flex-direction: column; gap: 15px; margin-bottom: 20px;}
    .product_detail .product_review_section .rating_bars { gap: 10px; width: 100%; }
    .product_detail .product_review_section .average_rating { padding: 20px; width: 100%; }
    .product_detail .product_review_section .rating_number { font-size: 22px; line-height: 18px; }
    .product_detail .product_review_section .stars { padding: 15px 0; }
    .product_detail .product_review_section .total_reviews { font-size: 15px; line-height: 25px; }
    .product_detail .product_review_section .review_card { flex-direction: column; }
    .product_detail .product_review_section .review_header { flex-direction: column; gap: 10px; }
    .product_detail .product_review_section .review_descripion { max-width: 100%; }
    .product_detail .product_review_section .load_more { margin-top: 20px; }
    
}
