/* Service Listing Section */
.service_listing_page .service_listing_section .service_listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service_card {
  border: 1px solid #E6E3EA;
  background-color: #FDFDFD;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.service_card .wrapper {
  padding: 52px 38px;
}

.service_card .badge {
  font-size: 14px;
  color: #000;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.service_card  .badge img {
  margin-right: 5px;
}

.service_card  .title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 20px;
}

.service_card  .categories {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.service_card  .categories .category {
  background-color: #F8F6F6;
  border-radius: 4px;
  padding: 5px 12px;
  color: #050406;
  font-size: 14px;
  line-height: 21px;
}

/* Hover states */
.service_card:hover {
  background-color: #000;
}

.service_card:hover  .badge {
  color: #fff;
}

.service_card:hover  .title {
  color: #fff;
}

.service_card:hover  .text {
  color: #A0A0A0;
}

.service_card:hover  .categories .category {
  background-color: #5C5C5C;
  color: #fff;
}

@media screen and (max-width:1600px) {
  .service_card   .title{
    font-size: 28px;
    line-height: 34px;
   }   
}

@media screen and (max-width:1400px) {
    .service_card .wrapper {
    padding: 48px 34px;
}
  .service_card   .title{
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 17px;
   }   
   .service_card .badge{
    margin-bottom: 17px;
   }
   .service_card .categories{
    margin-top: 35px;
   }
}


@media screen and (max-width:1280px) {
    .service_card .wrapper {
    padding: 36px 20px;
}
.service_listing_page .service_listing_section .service_listing{
    gap: 15px;
}
  .service_card   .title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 14px;
   }   
   .service_card .badge{
    margin-bottom: 14px;
   }
   .service_card .categories{
    margin-top: 25px;
   }
}

@media screen and (max-width:1024px) {
    .service_card .wrapper {
    padding: 42px 28px;
}
.service_listing_page .service_listing_section .service_listing{
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
  .service_card   .title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 12px;
   }   
   .service_card .badge{
    margin-bottom: 12px;
   }
   .service_card .categories{
    margin-top: 25px;
   }
}

@media screen and (max-width:767px) {
    .service_card .wrapper {
    padding: 32px 18px;
}
.service_listing_page .service_listing_section .service_listing{
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
  .service_card   .title{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
   }   
   .service_card .badge{
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
   }
   .service_card .categories{
    margin-top: 20px;
    gap: 5px;
   }
   .service_card .categories .category{
    font-size: 12px;
    line-height: 19px;
   }
}


@media screen and (max-width:576px) {
    .service_card .wrapper {
    padding: 32px 18px;
}
.service_listing_page .service_listing_section .service_listing{
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}
  .service_card   .title{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
   }   
   .service_card .badge{
    margin-bottom: 10px;
   }
   .service_card .categories{
    margin-top: 20px;
   }
   .service_card .categories .category{
    font-size: 12px;
    line-height: 19px;
   }
}
