/* Service Listing Pag */
.service_listing_page {

    /* Banner Section */
    .banner {
        min-height: 1020px;
        width: 100%;
        background-image: linear-gradient(to right, #010D0C, #2F0325);
        display: flex;
        justify-content: center;
        align-items: center;

        .banner_inner {
            min-height: 1020px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .banner_block {
                margin-top: auto;

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .banner_title {
                    font-size: 70px;
                    line-height: 88px;
                    text-align: center;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: #ffffff;
                    margin-bottom: 10px;
                }

                .banner_sub_title {
                    color: #ffffff;
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 54px;
                    text-align: center;
                    margin-top: 10px;
                }

                .banner_text {
                    text-align: center;
                    font-size: 20px;
                    line-height: 36px;
                    max-width: 710px;
                    margin: auto;
                    margin-bottom: 15px;
                }

            }

            .banner_bottom_block {
                margin-top: auto;
                margin-bottom: 80px;

                .experts {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    margin: auto;
                    max-width: 680px;
                    gap: 30px;

                    .content {
                        p {
                            margin-top: 10px;
                        }

                        .expert_badge {
                            background-color: #353535;
                            color: var(--secondary-color);
                            font-size: 13px;
                            display: inline-block;
                            padding: 5px 8px;
                            border-radius: 2px;

                            .expert_stars {
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Excellence Section */
    .excellence_section {
                    background-color: var(--section-bg);
        .sec_top_row {
            display: flex;
            justify-content: center;

            .cnt {
                text-align: center;
            }
        }

        .excellence_list {
            display: flex;
            justify-content: space-between;

            .excellence {
                border-right: 1px solid rgba(106, 86, 80, 0.2);
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: end;
                gap: 10px;
                height: 120px;

                &:last-child {
                    border-right: 0;
                }

                .count {
                    text-align: center;
                    display: block;
                    font-size: 36px;
                    color: #000;
                    line-height: 45px;
                    font-weight: 600;
                }

                .text {
                    text-align: center;
                }
            }
        }
    }

    /* Service Liting Section */
    .service_listing_section{
        .service_listing{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }
    }



    /* Customer Needs */
.customer_needs { background: var(--section-bg) }
.customer_needs .top_part { display: flex; align-items: center; gap: 150px; padding-bottom: 100px;}
.customer_needs .steps { display: flex; gap: 20px;}
.customer_needs .step { flex: 1; border: 0.45px solid rgba(250, 249, 249, 0.5); background-color: #ffffff; border-radius: 7px; }
.customer_needs .icon, .customer_needs .text, .customer_needs .numbering {padding: 36px 42px 0 42px; } 
.customer_needs .text { padding: 30px 42px; border-bottom: 1px solid #c7c7c7; font-size: 23px; font-weight: 500; line-height: 28px; color: #4f4f4f; }
.customer_needs .numbering { font-size: 18px; padding: 30px 35px; font-weight: 700; line-height: 21px; color: #000; }



/* PrestaShop Solutions */
.prestshop_solutions {  }

.prestshop_solutions .bottom_part { display: flex; gap: 20px; }
.prestshop_solutions .bottom_part .card { background: #F9F9F9; border-radius: 10px; padding: 50px 46px; box-shadow: 0 0.97px 2.91px 0.73px rgba(0, 0, 0, 0.1); border: 0.73px solid rgba(250, 249, 249, 1); }
.prestshop_solutions .bottom_part .company { color: #000; font-weight: 800;}
.prestshop_solutions .bottom_part .title { font-size: 22px; line-height: 33px; font-weight: 600; font-weight: 500; padding-bottom: 40px;}
.prestshop_solutions .bottom_part .description { color: #545454; font-size: 17px; line-height: 24px; padding-bottom: 30px; }
.prestshop_solutions .bottom_part .profile { display: flex; align-items: center; gap: 20px; }
.prestshop_solutions .bottom_part .name { font-size: 19px; line-height: 34px; font-weight: 700; margin-bottom: 3px; }
.prestshop_solutions .bottom_part .designation { color: #838383; font-size: 15px; font-weight: 600; line-height: 19px; }



/* Top Brands */

.top_brands .bottom_part { display: flex; justify-content: space-between; align-items: center; }
.top_brands .bottom_part .video-container { box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1); flex: 1; position: relative; min-height: 500px; overflow: hidden; cursor: pointer; }
.top_brands .bottom_part .poster { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; border-radius: 12px; overflow: hidden; }
.top_brands .bottom_part .poster img { width: 100%; object-fit: cover; }
.top_brands .bottom_part .play-button { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60px; height: 60px; background-color: #4CAF50; border-radius: 50%; display: flex; align-items: center; justify-content: center; transition: background-color 0.3s; }
.top_brands .bottom_part .play-button:hover { background-color: #45a049; }
.top_brands .bottom_part .play-icon { width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-left: 20px solid white; margin-left: 5px; }
.top_brands .bottom_part .video-iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; border-radius: 12px; display: none; }
.top_brands .bottom_part .logo-grid { flex: 1 ; padding: 50px 90px; display: grid; gap: 80px; }
.top_brands .bottom_part .logo-row:nth-child(1), .top_brands .bottom_part .logo-row:nth-child(3) { display: grid; grid-template-columns: repeat(3, 1fr); gap: 70px; align-items: center; }
.top_brands .bottom_part .logo-row:nth-child(2) { display: grid; grid-template-columns: repeat(2, 1fr); gap: 70px; align-items: center; margin: 0 50px; }


/* Choose Us */
.choose_us { background-color: var(--section-bg); }
.choose_us .heading { padding-bottom: 60px; }
.choose_us .features_grid { display: grid; grid-template-columns: repeat(3, 1fr); row-gap: 30px; column-gap: 20px; }
.choose_us .feature_card { background: #ffffff; padding: 30px; border-radius: 10px; display: flex; gap: 20px; align-items: flex-start; }
.choose_us .feature-title { font-size: 22px; font-weight: 600; line-height: 30px; padding-bottom: 10px; }
.choose_us .feature-description { color: #545454; }
}





@media screen and (max-width:1280px) {
    .service_listing_page{
         /* Banner Section */
    .banner {
        min-height: 980px;
        .banner_inner {
            min-height: 980px;

            .banner_block {

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .banner_title {
                    font-size: 54px;
                    line-height: 68px;
                    margin-bottom: 8px;
                }

                .banner_sub_title {
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 46px;
                    margin-top: 8px;
                }

                .banner_text {
                    font-size: 18px;
                    line-height: 32px;
                    max-width: 680px;
                    margin-bottom: 12px;
                }

            }

            .banner_bottom_block {
                margin-top: auto;
                margin-bottom: 80px;

                .experts {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    margin: auto;
                    max-width: 680px;
                    gap: 30px;

                    .content {
                        p {
                            margin-top: 10px;
                        }

                        .expert_badge {
                            background-color: #353535;
                            color: var(--secondary-color);
                            font-size: 13px;
                            display: inline-block;
                            padding: 5px 8px;
                            border-radius: 2px;

                            .expert_stars {
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    }
}


@media screen and (max-width:1024px) {
    .service_listing_page{
         /* Banner Section */
    .banner {
        min-height: 960px;
        .banner_inner {
            min-height: 960px;

            .banner_block {

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .banner_title {
                    font-size: 52px;
                    line-height: 63px;
                    margin-bottom: 7px;
                }

                .banner_sub_title {
                    font-size: 28px;
                    line-height: 43px;
                    margin-top: 7px;
                }

                .banner_text {
                    font-size: 17px;
                    line-height: 30px;
                    max-width: 670px;
                    margin-bottom: 11px;
                }

            }

            .banner_bottom_block {
                margin-top: auto;
                margin-bottom: 80px;

                .experts {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    margin: auto;
                    max-width: 680px;
                    gap: 30px;

                    .content {
                        p {
                            margin-top: 10px;
                        }

                        .expert_badge {
                            background-color: #353535;
                            color: var(--secondary-color);
                            font-size: 13px;
                            display: inline-block;
                            padding: 5px 8px;
                            border-radius: 2px;

                            .expert_stars {
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    }
}

@media screen and (max-width:992px) {
    .service_listing_page{
         /* Banner Section */
    .banner {
        min-height: 880px;
        .banner_inner {
            min-height: 880px;

            .banner_block {

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .banner_title {
                    font-size: 42px;
                    line-height: 53px;
                    margin-bottom: 6px;
                }

                .banner_sub_title {
                    font-size: 20px;
                    line-height: 32px;
                    margin-top: 6px;
                }

                .banner_text {
                    font-size: 16px;
                    line-height: 28px;
                    max-width: 650px;
                    margin-bottom: 10px;
                }

            }

            .banner_bottom_block {
                margin-top: auto;
                margin-bottom: 80px;

                .experts {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    margin: auto;
                    max-width: 680px;
                    gap: 30px;

                    .content {
                        p {
                            margin-top: 10px;
                        }

                        .expert_badge {
                            background-color: #353535;
                            color: var(--secondary-color);
                            font-size: 13px;
                            display: inline-block;
                            padding: 5px 8px;
                            border-radius: 2px;

                            .expert_stars {
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    }
}

@media screen and (max-width:767px) {
    .service_listing_page{
         /* Banner Section */
    .banner {
        min-height: 780px;
        .banner_inner {
            min-height: 780px;

            .banner_block {

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }

                .banner_title {
                    font-size: 34px;
                    line-height: 44px;
                    margin-bottom: 5px;
                }

                .banner_sub_title {
                    font-size: 18px;
                    line-height: 28px;
                    margin-top: 5px;
                }

                .banner_text {
                    font-size: 15px;
                    line-height: 26px;
                    max-width: 620px;
                    margin-bottom: 8px;
                }

            }

            .banner_bottom_block {
                margin-top: auto;
                margin-bottom: 60px;

                .experts {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    flex-direction: column;
                    margin: auto;
                    max-width: 680px;
                    gap: 30px;

                    .content {
                        p {
                            margin-top: 10px;
                        }

                        .expert_badge {
                            background-color: #353535;
                            color: var(--secondary-color);
                            font-size: 13px;
                            display: inline-block;
                            padding: 5px 8px;
                            border-radius: 2px;

                            .expert_stars {
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    }
}



@media screen and (max-width:576px) {
    .service_listing_page{
         /* Banner Section */
    .banner {
        min-height: 730px;
        .banner_inner {
           min-height: 730px;
            .banner_block {
margin-bottom: -25px;
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2px;
                }

                .banner_title {
                   font-size: 26px;
        line-height: 34px;
                    margin-bottom: 5px;
                }

                .banner_sub_title {
                   font-size: 17px;
        line-height: 26px;
                    margin-top: 5px;
                }

                .banner_text {
                    font-size: 14px;
                    line-height: 22px;
                    max-width: 380px;
                    margin-bottom: 5px;
                }

            }

            .banner_bottom_block {
                margin-top: auto;
                margin-bottom: 60px;

                .experts {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    flex-direction: column;
                    margin: auto;
                    max-width: 680px;
                    gap: 30px;

                    .content {
                        p {
                            margin-top: 10px;
                        }

                        .expert_badge {
                            background-color: #353535;
                            color: var(--secondary-color);
                            font-size: 13px;
                            display: inline-block;
                            padding: 5px 8px;
                            border-radius: 2px;

                            .expert_stars {
                                display: inline-block;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    }
}










